[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sendgrid = "*"
twilio = "*"
requests = "*"
beautifulsoup4 = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
